body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

div {
  width: 1024px;
  height: 645px;
  background-color: #2438aa;
  position: relative;
  border: 4px solid white;
}

div::before {
  content:"";
  width: 1024px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

div::after {
  content:"";
  width: 2px;
  height: 645px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 12px 2px rgba(0,0,0,0.7);
}